target
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/dictionaries
!.idea/dictionaries/*
.privateRunConfiguration
.privateRunConfiguration/*
build
*.iml
.gradle/*

*.versionsBackup
*.releaseBackup
default.properties

.video
.attach_pid*

**/log/*

!/gradle/wrapper/gradle-wrapper.jar

bin/*
.classpath
.project
.settings
.DS_Store
.idea/runConfigurations/run.run.xml
